<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Teste Linx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../styles/index.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../styles/header.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../styles/newsletter.css"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="./styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../styles/footer.css"
    />

    <script src="./script.js" defer></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <header>
      <div class="info">
        <h4>uma seleção de produtos</h4>
        <h1 class="title">especial para você</h1>
        <h5>
          Todos os produtos desta lista foram selecionados a partir da sua
          navegação. Aproveite!
        </h5>
      </div>

      <div class="triangle"></div>
    </header>

    <div class="title-email">
      <h2>Olá, Fulano</h2>

      <p>
        Fizemos uma lista especial de produtos apenas para você. Isso mesmo:
        nesta lista temos só produtos que você pode gostar. Seu amigo Ciclano
        lhe recomendou essa lista especial. Olha só:
      </p>
    </div>

    <div class="container">
      <div class="products-section">
        <div class="list-products-email"></div>

        <div class="list-more">
          <button class="button button-next-page">
            Tem muito mais aqui. Vem ver!
          </button>
        </div>
      </div>
    </div>

    <footer>
      <div class="mask"></div>
      <p>
        Testando suas habilidades em HTML, CSS e JS.
        <br />
        Linx Impulse
        <br />
        2019
      </p>
    </footer>
  </body>
</html>
