:root {
  --main-bg-color: #707070;
  --header-txt-color: #ffffff;
  --button-txt-color: #888888;
  font-family: Helvetica;
  --scrollbar: 20px;
}

body {
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--scrollbar));
  margin: 0;
  align-items: center;
}

h1,
h4,
h3,
h5 {
  margin: 0;
}

.button {
  cursor: pointer;
  text-decoration: "none";
  height: 2.5rem;
  border: 1px solid var(--main-bg-color);
  background-color: var(--header-txt-color);
  width: 100%;
  border-radius: 0.25rem;
  color: var(--button-txt-color);
}

.button:hover {
  background-color: var(--button-txt-color);
  color: var(--header-txt-color);
}

.container {
  width: 58.125rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    max-width: 90vw;
  }

  body {
    width: 100vw;
  }
}
