.products-section h4 {
  display: flex;
  flex-direction: row;
  margin-top: 4.4rem;
  margin-bottom: 3.125rem;
  align-items: center;
  font-size: 18px;
  color: var(--button-txt-color);
}

.products-section h4::before,
h4::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid var(--main-bg-color);
  margin-right: 1rem;
  margin-left: 1rem;
}

.list-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
}

.button-product {
  height: 1.875rem;
}

.product {
  width: 12.5rem;
}

.image-div {
  width: 100%;
  height: 9.375rem;
  border: 1px solid var(--main-bg-color);
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product h3 {
  font-size: 14px;
  font-weight: normal;
  color: var(--button-txt-color);
  text-align: justify;
  margin: 0;
}

.product p {
  font-size: 12px;
  color: var(--button-txt-color);
  text-align: justify;
}

.product h2 {
  font-size: 16px;
  color: var(--button-txt-color);
}

@media (max-width: 768px) {
  .list-products {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
  }

  .product {
    width: auto;
    display: flex;
    height: 8.125rem;
    margin: 0px 10px 0px 10px;
    gap: 24px;
    justify-content: space-between;
    line-height: 13px;
  }

  .image-div {
    height: 100%;
    width: 10.625rem;
  }

  .info-product {
    max-height: 100%;
    width: 100%;
  }

  .description {
    display: none;
  }
}
